.quarter {
    /*position*/
    float: left;
    /*background*/
    background-color: #B0C4DE;
    box-shadow: 0 0 4px 2px rgba(128, 128, 128, 0.5);
    border-radius: 0 0 600px 0;
    height: 600px;
    width: 600px;
    /*text*/
    color: #B0C4DE;
    font-size: 45px;
    text-shadow: 1px 1px 1px #FFFFFF,
                 -1px 1px 1px #FFFFFF,
                 1px -1px 1px #FFFFFF,
                 -1px -1px 1px #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.circle {
    /*position*/
    float: right;
    /*background*/
    background-color: #B0C4DE;
    box-shadow: 0 0 4px 2px rgba(128, 128, 128, 0.5);
    border-radius: 150px;
    height: 150px;
    width: 150px;
    /*text*/
    color: #B0C4DE;
    font-size: 30px;
    text-shadow: 1px 1px 1px #FFFFFF,
    -1px 1px 1px #FFFFFF,
    1px -1px 1px #FFFFFF,
    -1px -1px 1px #FFFFFF;
    text-align: center;
}

.Never {
    font-size: 60px;
}
.even {
    font-size: 70px;
}
.twitter {
    float: right;
    width: 50%;
    text-align: right;
}
.footer {
    float: left;
    margin-top: 100px;
    background-color: #333333;
    width: 100%;
    height: 200px;
    bottom: 0;
}
.link {
    float:left;
    width: 50%;
    text-align: center;
    color: #DDDDDD;
    font-weight: bold;
    font-size: 20px;
}
.SNS {
    float:right;
    width: 50%;
    text-align: center;
}